<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><img src="../../../assets/image/logoSsmall.png" alt=""></a>
  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">navbar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">navbar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">navbar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">navbar</a>
      </li>
    </ul>
  </div>
</nav>

