<div class="card bookItem">
  <a href="{{ book.url }}">
    <h2>{{ book.name }}</h2>
    <h3>{{ book.isbn }}</h3>
    <div class="card-body">
      <p>👨 {{ book.authors[0] }}</p>
      <p>📖 {{ book.numberOfPages }} Page</p>
      <p>🏘️ {{ book.country }}</p>
      <p>⏰ {{ book.released | date }}</p>
    </div>
  </a>
</div>
