<app-navbar></app-navbar>
<!-- <router-outlet></router-outlet> -->
<div class="banner">
    <div class="backGround">
      <img
        class="greenBG"
        src="../../../assets/image/backGroundBanner.png"
        alt=""
      />
      <img class="food" src="../../../assets/image/bgFood.png" alt="" />
      <div class="logo"></div>
      <div class="content">
        <div class="logo">
          <img src="../../../assets/image/logoSsmall.png" alt="" />
        </div>
        <h1 class="title">American Food</h1>
        <h3 class="title">The Best Taste Food</h3>
        <Br />
        <h5 class="title">
          <p>DAILY BREAD, USA-754</p>
          <Br />
          <p>OPEN AT 2 PM - 10 PM</p>
        </h5>
        <br />
        <div class="btnOrder row justify-content-end">
          <div class="btnArrow col-1">
            <i class="fa fa-arrow-right btnContent"></i>
          </div>
          <div
            class="btnTitle btn col-3"
            (click)="click()"
          >
            <p class="btnContent">ORDER_NOW</p>
          </div>
        </div>
        <div class="discount">
          <div class="text">
            <h2>50%</h2>
            <p>DISCOUNT</p>
          </div>
        </div>
        <div class="social row">
          <div class="icon btn"><i class="fa fa-instagram"></i></div>
          <div class="icon btn"><i class="fa fa-facebook"></i></div>
          <div class="icon btn"><i class="fa fa-twitter"></i></div>
          <div class="icon btn"><i class="fa fa-whatsapp"></i></div>
        </div>
      </div>
    </div>
    
    <div class="listBook container">
      <div class="row">
        <div class="col-sm-3" *ngFor="let item of listBook">
          <app-book-item [book]="item"></app-book-item>
        </div>
      </div>
    </div>
  </div>
  