* {
  margin: 0;
  padding: 0;
}
.banner {
  height: auto;
  width: 100%;
  text-align: center;
  .backGround {
    text-align: center;
    width: auto;
    max-width: 1280px;
    height: 720px;
    position: relative;
    transform: translate(-50%, 0%);
    top: 0;
    left: 50%;
    .greenBG {
      z-index: 2;
    }
    .food {
      z-index: 1;
    }
    .food,
    .greenBG {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      max-width: 100%;
    }
    .logo {
      z-index: 3;
    }
    .content {
      position: absolute;
      left: 50%;
      width: 50%;
      height: 100%;

      padding-top: 63px;
      padding-right: 65px;
      z-index: 4;
      text-align: right;
      float: right;
      h1 {
        margin-top: 56px;
        font-size: 370%;
        display: block;
      }
      h3 {
        font-size: 270%;
        padding-top: 25px;
        padding-bottom: 36px;
        border-bottom: 5px solid white;
        display: block;
      }
      h5 {
        padding-top: 25px;

        p {
          font-size: 170%;
          margin: 0;
        }
      }
      .title {
        color: white;
        display: inline-table;
      }
      .btnOrder {
        margin-top: 20px;
        h2,
        p,
        span {
          margin: 0;
          padding: 0;
        }
        .btnContent {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 16px;
        }
        .btnArrow,
        .btnTitle {
          height: 20%;
          // position: relative;
          display: block;
          color: white;
          background-color: #3d5f00;
          width: fit-content;
          padding: 5% 5%;
          max-height: 37.5px;
          border-radius: 1px 15px 1px;
          margin-left: 20px;
        }
      }
      .discount {
        position: absolute;
        left: 0;
        bottom: 7%;
        height: 166px;
        width: 166px;
        background-color: #3d5f00;
        z-index: 100;
        border-radius: 50%;
        .text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          h2,
          p {
            color: white;
          }
          h2 {
            font-size: 43px;
          }
          p {
            font-size: 24px;
          }
        }
      }
      .social {
        position: absolute;
        right: 13%;
        bottom: 7%;

        height: 30px;
        z-index: 10;
        .icon {
          position: relative;
          width: 25px;
          height: 25px;
          background-color: white;
          border-radius: 50%;
          margin-left: 10px;
          i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #608b14;
          }
        }
      }
    }
  }
  .listBook {
    margin-top: 50px;
    position: relative;
    transform: translate(-50%, 0%);
    top: 0;
    left: 50%;
  }
}
